body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.card-lane {
  height: 100%;
}

.swim-lanes  {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}


.due-soon {
  background-color: yellow;
}

.over-due {
  background-color: red;
}